@font-face {
    font-family: Hind-Bold;
    src: url('../fonts/Hind/Hind-Bold.ttf');
}
@font-face {
    font-family: Hind-Light;
    src: url('../fonts/Hind/Hind-Light.ttf');
}
@font-face {
    font-family: Hind-Medium;
    src: url('../fonts/Hind/Hind-Medium.ttf');
}
@font-face {
    font-family: Hind-Regular;
    src: url('../fonts/Hind/Hind-Regular.ttf');
}
@font-face {
    font-family: Hind-SemiBold;
    src: url('../fonts/Hind/Hind-SemiBold.ttf');
}
@font-face {
    font-family: PlayfairDisplay-Black;
    src: url('../fonts/Playfair/PlayfairDisplay-Black.ttf');
}
@font-face {
    font-family: PlayfairDisplay-BlackItalic;
    src: url('../fonts/Playfair/PlayfairDisplay-BlackItalic.ttf');
}
@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url('../fonts/Playfair/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family: PlayfairDisplay-BoldItalic;
    src: url('../fonts/Playfair/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
    font-family: PlayfairDisplay-Italic;
    src: url('../fonts/Playfair/PlayfairDisplay-Italic.ttf');
}
@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/Playfair/PlayfairDisplay-Regular.ttf');
}
.hind-bold{
    font-family: Hind-Bold;
}
.hind-light{
    font-family: Hind-Light;
}
.hind-medium{
    font-family: Hind-Medium;
}
.hind-regular{
    font-family: Hind-Regular;
}
.hind-semibold{
    font-family: Hind-SemiBold;
}
.play-black{
    font-family: PlayfairDisplay-Black
}
.play-blackItalic{
    font-family: PlayfairDisplay-BlackItalic;
}
.play-blackBold{
    font-family: PlayfairDisplay-Bold;
}