@import "main";
.mainHeader {
  padding: 2em 2em 0;
  &__nav {
    display: flex;
    &__link-container {
      display: flex;
      margin-left: auto;
      margin-top: -5px;
      position: relative;
    }
    .hideLink {
      display: none;
    }
  }
  &__nav--link a{
    color: $lighter-grey;
    text-decoration: none;
      font-size: .7em;
    font-family: $main-font;
  span{
    color: $light-grey;
    font-family: $main-font-semiBold;
    text-transform: uppercase;
  }
  }
  &__logo {
    font-family: var(--logo-font);
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 2rem;
  }
  &__nav--initials{
    width: 2em;
    height: 2em;
    background: $lighter-grey;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: .5em;


    span{
      font-family: $main-font-medium;
      color: $light-grey;
      font-size: .9em;
      margin-top:.1em;

    }
  }

  &__nav--logout{
    position: absolute;
    top: 2.2em;
    right: 0;
    border-radius: 2px;
    padding: .3em .4em;
    width: 4em;
    text-align: right;
    color: #323c46;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 0 0 rgba(0,0,0,0.23);
    button{
      background:none;
      border:none;
      font-family: "Hind-Regular";
      cursor: pointer;
      font-size: .9em;

    }
  }
  &__nav--logout.hide{
    display: none;
  }
  &__nav--arrow{
    width: 1em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    height: 2.5em;
  }

  &__nav--arrow:hover{
    cursor: pointer;
  }
  &__nav--arrow::after{
  @include arrow($lighter-grey,.4em)
  }
  &__nav--name{
    display: none;
  }
}

@media screen and (min-width: $large-vw) {
  .mainHeader {
    padding: 2em 3em 0;
    width: 100%;

    &__nav {
      display: flex;
      justify-content: space-between;
      .onLogin {
        display: inline-block;
      }
    }

    &__nav--name{
      display: inline-block;
      color: $light-grey;
      font-family: $main-font-medium;
      font-size: .8em;
      padding-top: .7em;
      margin-right: .5em;
    }
  }
}
