@import "reset";
@import "fonts";
@import "mixins";

/* Text styles */



%Text-Style-4 {
  font-family: Hind;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: center;
  color: #323c46;

}

%Text-Style-2 {
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--cool-grey);

}

%Text-Style {

  font-family: Hind;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #323c46;
}



$warm-grey: #7d7878;
$silver-four: #c4c9d1;
$darkish-pink: #e73370;
$warm-pink: #ff4081;
$dark-mint-green-two: #20bd78;
$silver-seven: #cacdd0;
$pale-grey-two: #f9f9fb;
$red-pink: #fc226e;
$cool-grey-two: #9ca5af;
$silver: #d9dce1;
$pale-grey-two: #f9f9fb;
$cool-grey: #949ea8;
$cool-grey-three: #a9aeb4;
$silver-three:#c9ced3;
$lighter-grey:rgb(213,217,221);
$error-pink:rgb(255,76,137);
$lighter-grey: rgb(213,217,221);
$light-grey:rgb(149,159,169);
$grey: rgb(126,121,121);
$dark-grey: #323c46;
$light-green: rgb(34,212,134);
$off-white: rgb(249,249,251);

$small-vw:40em;
$medium-vw:60em;
$large-vw:80em;

$greenblue:#22d486;
$main-font-medium:"Hind-Medium";
$main-font-semiBold: "Hind-SemiBold";
$main-font-light:"Hind-Light";
$main-font: "Hind-Regular";
$second-font: "PlayfairDisplay-Regular";

h1,h2,h3,h4,p,span,a,legend,sub,cite,time,button,input{
    font-family: $main-font;
}
*{
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

.form__component input::-ms-input-placeholder{
    text-transform:capitalize;
}
.form__component input::placeholder{
    text-transform:capitalize;
}

%submit-button{
  width: 15em;
  font-family: $main-font-semiBold;
  font-size: 1em;
  background:$greenblue;
  color:white;
  padding: 1em;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:active{
    background: $dark-mint-green-two;
  }
}


%event-button{
  width: 7.2em;
  border-radius: 4px;
  font-size: .88em;
  letter-spacing: 1px;
  font-weight: 600;
  padding: .4em;
  text-transform: uppercase;
}

%event-button--join{
  @extend %event-button;
  background-color:$greenblue;
  color:white;
  &:active{
    background: $dark-mint-green-two;
  }
}
%event-button--leave{
  @extend %event-button;
  background-color:$warm-pink;
  color:white;
  &:active,&:focus{
    background: $darkish-pink;
  }
}
%event-button--edit{
  @extend %event-button;
  background-color:$silver-four;
  color: $cool-grey-three;
  &:active,&:focus{
    background: $silver-four;
  }
}
%event-button--expired{
  @extend %event-button;
  background-color:$dark-grey;
  color:white;

}

button{
  background: none;
  outline: none;
  border:none;
}
button::-moz-focus-inner{
  border: 0;
}
button:focus{
  outline: none;
}