@import "main";

.pageLayout{
        &__content{
        text-align:center;
        padding: 0 2em;
    }
    &__banner{
        display: none;

    }
    &__refresh{
        @include btn($dark-grey)
    }
}

@media screen and (min-width: $small-vw) {
    .pageLayout{
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
        &__content{
            font-size: 1.25em;
        }
        .form-component__input::placeholder {
            font-size: 1.1rem;
        }
    }
}


@media screen and (min-width: $large-vw) {

    .pageLayout{
        margin: initial;
        display: flex;
        max-width: initial;
        height: 100vh;
        .mainHeader{
            position: absolute;
            &__logo{
                color:#fff;
            }
        }
        main {
            display: flex;
            flex: 1;
        }
            &__content{
            display: flex;
            width: 65vw;
            padding-left: 20vw;
            align-content: center;
            align-items: center;
                text-align: left;
                font-size: 1em;
        }
        &__banner{
            display: flex;
            align-items: end;
            width: 33vw;
            justify-content: center;
            text-align: center;
            flex: 1;
            color:#fff;
            padding: 4.5vw;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/trooper.jpg');
            background-position: center center;
            background-size: 100%;
            background-repeat: no-repeat;
            blockquote{
                margin-top: auto;
            }
            p{
                font-family: $second-font;
                font-size: 2.3em;
                margin-bottom: .8em;
            }
            hr{
                width: .7em;
                border:none;
                height: 2px;
                background: $light-green;
            }
            cite{
                color:$light-grey;
                margin-top:.5em;
                font-size: .9em;
            }
        }

        .form-component{
            width: 30em;
            legend{
                text-align: left;
            }
            sub{
                text-align: left;
            }
            &__submit{
                margin-left: initial;
                padding: 1em;
                font-size: 1rem;
                margin-bottom: 0;
            }
            &__input::placeholder{
                font-size: 1rem;
            }
            sub{
                font-size: 1.124em;
            }
            &__input{
                font-size: 1.124em;
            }
            &__input[type="password"]{
                font-size: .7em;
            }
            &__input[type="password"]::placeholder{
                font-size: 1.4em;
            }
            &__annot{
                font-size: .88em;
            }
            legend{
                font-size: 1.75em;
            }
            &__apiError{
                text-align: left;
                font-size: 1.12em;
            }

            &__bottomLink{
                display: none;

            }
        }


    }


}
